<div class="row">
  <div class="col-md-12">
    <%= render 'form', utilisateur: @utilisateur %>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= link_to 'Détails', @utilisateur %> |
    <%= link_to 'Retour à la liste', utilisateurs_path %>
  </div>
  <div class="col-md-4"></div>
</div>
