<div class="row">
  <div class="col-md-12">
    <%= render 'form', utilisateur: @utilisateur %>

    <%= link_to 'Détails', @utilisateur %> |
    <%= link_to 'Retour à la liste', utilisateurs_path %>
  </div>
</div>
