<div class="row">
  <div class="col-md-12">
    <strong>Email:</strong>
    <%= @utilisateur.email %>
    <br />
    <strong>Nom:</strong>
    <%= @utilisateur.nom %>
    <br />
    <div class="options">
      <%= link_to 'Retour à la liste', utilisateurs_path %>
    </div>
  </div>
</div>
